﻿@using EneanceTest.Application.ViewModel;
@model CategoryViewModel
@{
    ViewData["Title"] = "Category page";
}
<h2>Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Category Id</th>
            <th scope="col">Name</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cat in Model.Categories)
        {
            <tr>
                <th scope="row">@cat.Id</th>
                <th scope="row">@cat.Name</th>
                <th scope="row"><a href="Category/Update?categoryId=@cat.Id">Update</a></th>
                <th scope="row"><a href="Category/Delete?categoryId=@cat.Id">Delete</a></th>
            </tr>
        }
    </tbody>
</table>

<form class="card" method="post" action="/Category/Add">
    <div class="card-header">
        <h2>Add a category</h2>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label >Category Name</label>
            <br /> @Html.AntiForgeryToken()
            <input type="text" class="form-control" id="categoryName" name="Name" placeholder="Enter category name">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>