﻿@using EneanceTest.Application.ViewModel;
@model UpdateCategoryViewModel
@{
    ViewData["Title"] = "Update Category";
}
@Html.AntiForgeryToken()


<h2>Update a category</h2>
@if (ViewData["ErrorMessage"] != null)
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}

<form method="post" action="Update?categoryID=@Model.Id">
    <div class="form-group">
        @Html.AntiForgeryToken()
        <label >Category Name</label>
        <input type="text" class="form-control" id="categoryName" name="Name" value="@Model.Name">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>