﻿@using EneanceTest.Application.ViewModel;
@model JobViewModel
@{
    ViewData["Title"] = "Category page";
}

@if (ViewData["ErrorMessage"] != null)
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}
@Html.AntiForgeryToken()

<h2>Tasks</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date Limite</th>
            <th scope="col">State</th>
            <th scope="col">Category</th>
            <th scope="col">Done</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var job in Model?.Jobs)
        {
            <tr>
                <th scope="row">@job.Name</th>
                <th scope="row">@job.LimiteDate</th>
                <th scope="row">@job.State</th>
                <th scope="row">@job?.Category?.Name</th>
                <th scope="row">
                    @if(job.State == EneanceTest.Application.Entities.TaskState.TODO)
                    {
                        <form method="post" action="/Job/Done?jobId=@job.Id">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-primary">Done</button>
                        </form>
                    }
                </th>
                <th scope="row"><a type="button" href="/Job/Delete?jobId=@job.Id">Delete</a></th>
            </tr>
        }
    </tbody>
</table>

<form class="card" method="post" action="/Job/Add">
    <div class="card-header">
        <h2>Add a new Task</h2>
    </div>
    <div class="card-body">
        <div class="form-group">
            <br /> @Html.AntiForgeryToken()
            <label>Name</label>
            <input type="text" class="form-control" id="categoryName" name="Name" placeholder="Enter category name">
        </div>
        <div class="form-group">
            <label>Date limite</label>
            <input type="date" id="start" name="LimiteDate"
                   value="2018-07-22"
                   min="2018-01-01" max="2018-12-31">
        </div>
        <div class="form-check">
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio1" name="State" value="0" checked>To Do
              <label class="form-check-label" for="radio1"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio2" name="State" value="1">Done
              <label class="form-check-label" for="radio2"></label>
            </div>
        </div>
        <div class="dropdown">
            <label for="selCat" class="form-label">Select Category:</label>
            <select class="form-select" id="selCat" name="CategoryId">
                @foreach(var cat in Model?.Categories)
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>

</form>